<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "edu.nd.library"
        version   = "2.0.0">
    <name>Hesburgh Libraries</name>

    <description>
        First mobile library app!
    </description>

    <author href="http://library.nd.edu" email="wits@listserv.library.nd.edu">
        Hesburgh Libraries Web Application Development Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <access origin="http://m.library.nd.edu" subdomains="true" browserOnly="false" /> 
    <access origin="http://mpprd.library.nd.edu" subdomains="true" browserOnly="false" /> 
    <access origin="http://map.nd.edu" subdomains="true" browserOnly="false" />
    <access origin="http://xerxes.library.nd.edu" subdomains="true" browserOnly="false" />
    <access origin="http://www.library.nd.edu" subdomains="true" browserOnly="false" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="prerendered-icon" value="true" />
    
    
    <icon src="icon.png" />
    <gap:splash src="splash.png" />

</widget>
